p {
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.counter-content {
  display: flex;
  flex-direction: column;
}

.counter-title {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.counter-text {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 50px;
  justify-content: space-between;
}
